body {
    margin:40px auto;
    max-width:700px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

h2 {
  border-bottom: 1px solid;
}

h1,h2,h3 {
    line-height:1.1;
    color: #106987;
}


a {
    font-size: 19px;
    color: #106987;
}

.no-border {
  border: none;
}

img {
  float:right;
  width:100px;
  border:none;
  padding:0px;
  margin:10px;
}

.center {
  text-align: center;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    /* border-top: 1px solid #106987; */
    border-bottom: 1px solid #106987; 
    
}

.nav li {
    display: inline-block;
    padding: 10px;
}

.nav li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li:hover:not(.active) {
    border-bottom: solid 2px #106987;
}

.active {
    border-bottom: solid 2px #106987;
}

.footer {
  margin-top: 40px;
}

.footer ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid #106987;
}

.footer li {
    display: inline-block;
    margin: 10px;
}

.footer li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}